<% if @log_present %>
  <div class='max-text-width'>
    <div class='center-item mt-3 mb-3'>
      <div class='alert-danger'>Attention</div>
    </div>
    <div class='log-warning'>
      <p>
        Check selected date <%= link_to 'Nurse Logs Here.', client_client_logs_path(@client, location: @location_param, log_type: 'nurse log', log_date: @log_date_param )%>
      </p>
    </div>
  </div>
<% end %>
<% @client_logs.each do |client_log|%>
  <div class='card mb-3' >
    <div class='card-body'>
      <div>
        <%= client_log.doctor_log %>
      </div>
      <div>
        <%= format_date(client_log.updated_at) %>
      </div>
      <br>
      <h5> Medications </h5>
      <% client_log.client_medications.each do |client_medication| %>
        <div>
          <%= client_medication.medication_name %>
        </div>
      <% end %>
      <br>
      <div>
        Created by <%= client_log.user.full_name %>
      </div>
      <div class= 'card-link'>
        <%= link_to "edit", edit_client_client_log_path(@client, client_log, location: @location_param, log_type: @client_log_param, log_date: @log_date_param) %>
      </div>
    </div>
  </div>
<% end %>