<%= form_with model: [@client, @client_log] do |f| %>

  <%= f.text_area :nurse_log, class: 'form-control' %>

  <div class='center'>
    <%= f.submit 'Save', class: 'btn-primary' %>
    <br>
    <%= link_to 'Back', client_path(@client, location: @location_param) %>
  </div>
  
  <%= hidden_field_tag(:location, @location_param) %>

<% end %>