<%= form_with model: [@client, @client_log] do |f| %>
  <div class='center-item'> 
    Log Date: <%= @log_date_param %>
  </div>
  <br>

  <%= f.fields_for :medications do |p| %>
    <div class="space-between">
      <div>
        Medication:
        <%= p.text_field :name, class: 'form-control' %>
      </div>
      <div class='dosage space-between'>
        <div class='me-5'>
          Dosage:
          <%= p.number_field :dosage_amount, min: 0, step: 0.1, class: 'form-control' %>
        </div>
        <div>
          Unit:
          <%= p.text_field :dosage_unit, class: 'form-control' %>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= f.text_area :nurse_log, class: 'form-control log-form-control' if @nurse_log %>
  <%= f.text_area :doctor_log, class: 'form-control log-form-control' if @doctor_log %>

  <div class='center'>
    <%= f.submit 'Save', class: 'btn-primary' %>
    <br>
    <%= link_to 'Back', client_client_logs_path(@client, location: @location_param, log_type: @client_log_param, log_date: @log_date_param) %>
  </div>
  
  <%= hidden_field_tag(:location, @location_param) %>
  <%= hidden_field_tag(:log_type, @client_log_param) %>
  <%= hidden_field_tag(:log_date, @log_date_param) %>
<% end %>