<div class='client-logs-page'>
  <div class="mb-3 btn-margin">
    <%= link_to 'Back', client_path(@client, location: @location_param), class: 'btn-secondary' %>
  </div>
  <div class='center'>
    <h4 class="mb-3"><%= @client_log_param.titleize %>s:  
    <%= link_to @client.full_name, client_path(@client, location: @location_param, log_type: @client_log_param) %></h4>
  </div>
  <div class='details'>
    <div class="center">
      <%= render 'nurse_log' if @nurse_log %>
      <%= render 'doctor_log' if @doctor_log %>
    </div>
  </div>
  <div class='center pagination'>
    <%= will_paginate @client_logs, previous_label: 'Prev', next_label: 'Next' %>
  </div>
</div>