<div class='client-logs-page'>
  <div class="mb-3 btn-margin">
    <%= link_to 'Back', client_path(@client, location: @location_param), class: 'btn-secondary' %>
  </div>
  <div class='center'>
    <h4 class="mb-3"><%= @client_log_param.titleize %>s:  
    <%= link_to @client.full_name, client_path(@client, location: @location_param, client_log: @client_log_param) %></h4>
  </div>
  <div class='details'>
    <div class="center">
      <% @client_logs.each do |client_log|%>
        <div class='card mb-3' >
          <div class= 'card-body'>
            <div>
              <%= client_log.nurse_log if @nurse_log %>
              <%= client_log.doctor_log if @doctor_log %>
            </div>
            <div>
              <%= format_date(client_log.updated_at) %>
            </div>
            <div>
              Created by <%= client_log.user.full_name %>
            </div>
            <div class= 'card-link'>
              <%= link_to "edit", edit_client_client_log_path(@client, client_log, location: @location_param, client_log: @client_log_param) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='center pagination'>
    <%= will_paginate @client_logs, previous_label: 'Prev', next_label: 'Next' %>
  </div>
</div>