<div class="center-item">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="login-page center"> 
  <div class="login-container">
    <h5 class="mb-4">Forgot your password?</h5>
    <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }, data: { turbo: false }) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <div>
        <%= f.submit "Send reset password instructions", class: 'btn-primary mb-3' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
