<div class='medication-form mt-2'>
  <%= form_with url: new_medication_path(location: @location_param,), method: :get do |s| %>
    <%= s.text_field :medication_query, placeholder: 'Input Medication Name', class: 'form-control' %>
    <div class='center'>
      <%= s.submit 'Search', class: 'btn-primary filter-med' %>
    </div>
    <%= hidden_field_tag(:location, @location_param) %>
  <% end %>
</div>
<br>
<h5><%= @no_results %></h5>
<%= form_with model: @medication do |f| %>
  <% if @med_options.present? %>
    <%= f.fields_for :medication_names do |ff| %>
      <%= ff.select :name, options_for_select(@med_options.map { |drug| drug["name"].titleize }), {prompt: 'Select...'}, {class: 'form-select' } %>
    <% end %>
    <div class='center'>
      <div class='inline'>
        <div class='add-med'>
          <i class="bi bi-plus-circle-fill"></i>
        </div>
        <div class='remove-med'>
          <i class="bi bi-dash-circle-fill"></i>
        </div>
      </div>
      <br>
      <%= f.submit 'Save and Add New Medication', class: 'btn-secondary new-med' %>
    <br>
    <%= f.submit 'Save and Return to Index', class: 'btn-primary save-med' %>
    <% end %>
    <br>
    <%= link_to 'Back', medications_path(location: @location_param), class: 'mb-5' %>
  </div>
  <%= hidden_field_tag(:location, @location_param) %>
<% end %>
