<% if user_signed_in? %>
	<nav class="navbar">
    <button class="nav-btn">
			<i class="bi bi-person-lines-fill"></i>
		</button>
		<div class="nav-dropdown">
			<%= link_to "Home", authenticated_root_path, class: "nav-link" %>
			<%= link_to "Administration", admin_users_path(location: current_user.location), class: "nav-link" %>
      <%= link_to "Clients", clients_path(location: current_user.location), class: "nav-link" %>
			<%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
		</div>
    <div class="nav-text">
      <%= current_user.email %>
    </div>
	</nav>
<% end %>