<%= form_with model: @client, data: { turbo: false } do |f| %>
  <div class="row">
    <div class="col">
      First Name
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col">
      Last Name 
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      DOB
      <%= f.date_field :dob, class: "form-control" %>
      <%#= make clickable area larger %>
    </div>
    <div class="col">
      Pronoun
      <%= f.select :pronoun, options_for_select(Client::PRONOUNS, @client.pronoun), {}, { class: "form-select", id: "pronoun-select" } %>
    </div>
  </div>
  <div id="hide-pronoun">
    Other Pronoun
    <%= f.text_field :health_card_number, class: "form-control other-pronoun" %>
  </div>
  <div class="row">
    <div class="col">
      Healthcard Number
      <%= f.text_field :health_card_number, class: "form-control" %>
    </div>
    <div class="col">
      Healthcard Expiry
      <%= f.text_field :health_card_expiry, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Email
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="col">
      Phone Number
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Emergency Contact Name
      <%= f.text_field :emergency_contact_name, class: "form-control" %>
    </div>
    <div class="col">
      Emergency Contact Info
      <%= f.text_field :emergency_contact_info, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Location
      <%= f.select :location, options_for_select(Client::LOCATIONS.drop(1), @client), {}, { class: "form-select" } %>
    </div>
    <div class="col">
      Bed Number
      <%= f.text_field :bed_number, class: "form-control" %>
    </div>
  </div>
  <div>
    General Info
    <%= f.text_area :general_info, class: "form-control", id: "general-info" %>
  </div>
  <div class="consent">
    Do you give consent?
    <%= f.check_box :consent, class: "checkbox" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn-primary" %>
  </div>
  <%= hidden_field_tag(:location, @location_param) %>
<% end %>
