<%= form_with model: @client, url: { location: @location_param }, data: { turbo: false } do |f| %>
  <div>
    First Name
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div>
    Last Name 
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div>
    Email
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div>
    Location
    <%= f.select :location, options_for_select(Client::LOCATIONS.drop(1), @client), {}, { class: "form-select" } %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn-primary" %>
  </div>
  <%= hidden_field_tag(:location, @location_param) %>
<% end %>
