<div class='home-page'>
  <%= link_to admin_users_path(location: current_user.location), class:'home-card' do %>
    <%= image_tag 'admin-icon.png', class: 'icon' %>
    <br>
     Admin Users
  <% end %>

  <%= link_to clients_path(location: current_user.location), class: 'home-card' do %>
    <%= image_tag 'patients-icon.png', class: 'icon' %>
    <br>
    Clients
  <% end %>

  <%= link_to medications_path(location: current_user.location), class: 'home-card' do %>
    <%= image_tag 'medication-icon.png', class: 'icon' %>
    <br>
    Medications
  <% end %>
</div>
